version: "3.8"

services:
  postgres:
    image: postgres:17.5-alpine
    container_name: hronos_db
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hronos
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: